.contact-details-skin2 {
    /* background: aquamarine; */
    height: 9%;
    display: flex;
    justify-content: space-around;
}
.contact-details-name-s2 {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: -10%;
}

.contact-details-logo-s2 {
    border: 2px solid black;
    height: 50%;
    width: 30%;
    margin-top: 6%;
    margin-left: -7%;
    border-inline:inherit;
    text-align: center;
}
.contact-details-fullName-s2 {
    margin-left: 8%;
}

.contact-details-profession-s2{
    width: 70%;
    font-weight: bolder;
    margin-right: -30%;
    margin-top: 5%;
}

.contact-details-email-phone-s2 {
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    /* height: 85%; */
    margin-top: 2%;
}
.contact-details-address-s2 {
    font-size: x-small;
}

.contact-details-phone-s2 {
    font-size: x-small;
}
.contact-details-email-s2 {
    font-size: x-small;
}

.professional-summary-skin2{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.professional-summary-heading-s2{
    width: 90%;
    /* text-align: center; */
    /* border-bottom: 2px solid rgb(85, 137, 185); */
    /* border: 1px solid; */
    background: rgb(206, 221, 221);
    font-weight: 500;
    margin-left: 5%;
}
.professional-summary-details-s2{
    margin-left: 5%;
    margin-top: 4px;
    font-size: small;
    width: 90%;
}

.Skills-details-skin2{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.skills-details-heading-s2{
    width: 90%;
    /* text-align: center; */
    /* border-bottom: 2px solid rgb(85, 137, 185); */
    /* border: 1px solid; */
    background: rgb(206, 221, 221);
    font-weight: 500;
    margin-left: 5%;
}
.skills-details-s2{
    font-weight: bolder;
    width: 90%;
    margin-left: 5%;
    margin-top: 8px;

}
.skills-details-s2 ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -13%;
}
.skills-details-s2 ul li{
    margin-left: 8%;
    
}
.projects-details-skin2{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.projects-details-heading-s2{
    width: 90%;
    /* text-align: center; */
    /* border-bottom: 2px solid rgb(85, 137, 185); */
    /* border: 1px solid; */
    background: rgb(206, 221, 221);
    font-weight: 500;
    margin-left: 5%;
}
.projects-details-s2{
    font-weight: bolder;
    width: 90%;
    margin-left: 5%;
    margin-top: 8px;
}
.projects-details-s2 ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -13%;
}
.projects-details-s2 ul li{
    margin-left: 8%;
    
}
.education-details-skin2{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.education-details-heading-s2{
    width: 90%;
    /* text-align: center; */
    /* border-bottom: 2px solid rgb(85, 137, 185); */
    /* border: 1px solid; */
    background: rgb(206, 221, 221);
    font-weight: 500;
    margin-left: 5%;
}
.education-details-s2{

}
.education-details-degree-s2{
    font-weight: bold;
    font-size: small;
    width: 90%;
    margin-left: 5%;
    margin-top: 8px;

}
.education-details-name-s2{
    font-size: small;
    width: 90%;
    margin-left: 5%;font-weight: bold;
    font-weight: 300;
    text-align: justify;

}