header{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
    font-size: x-large;
}
nav{
    width: 60vw;
    margin-top: 10px;
}

.bigImage{
    width: 95vw;
    margin: 1rem;
}

.container{
    display: flex;

}

.container>div{
    text-align: center;
}

.container>div>p{
    font-size: x-large;
}