*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

.toolbox-cont{
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
}

.toolbox-priority-cont{
    height: 3rem;
    background-color: beige;
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action-btn-cont{
    background-color: beige;
    height: 3rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.lightpink{
    background-color:lightpink;
}

.blue{
    background-color:lightblue
}

.green{
    background-color:lightgreen;
}
.black{
    background-color:black
}

.add-btn{
    font-size: 1.5rem;
}

.remove-btn{
    font-size: 1.5rem;
}

.modal-cont{
    position: absolute;
    left: 25vw;
    top:25vh;
    background-color: lightgrey;
    height: 50vh;
    width: 50vw;
    display: none;
}

.textarea-cont{
    outline:none;
    resize: none;
    border: none;
    background-color:lightyellow;
    height: 100%;
    width: 75%;
    font-size: 2rem;
    padding: 2rem;
}

.priority-color-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.priority-color{
    height: 3rem;
    width: 5rem;
}

.active{
    border: 5px solid red;
}

.main-cont{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem; 
}

.ticket-cont{
    background-color: lightskyblue;
    height: 10rem;
    width: 15rem;
}

.ticket-color{
    height: 1rem;
}

.ticket-id{
    height: 1.5rem;
    background-color: red;
}

.task-area{
    height: calc(100%-1rem-1.5rem);
    padding: 5px;
    font-size: 1.25rem;
}