.finalize{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.finalize-preview{
    box-shadow: 0 2px 9px lightgrey;
    width: 50%;
}

.download-options{
    height: 400px;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
}