.templates{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    justify-content: space-around;
}

.templates-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.templates-styles{
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
}

.template{
    height: 280px;
    width:250px;
    position: relative;
    margin: 10px;
    border: 1px solid black;
}

.template img{
    height: 100%;
    width: 100%;
}

.template img:hover{
    opacity: 0.6;
}

.template-btn{
    background-color: red;
    color: white;
    border-radius: 5px;
    border:1px solid white;
    position: absolute;
    top:50%;
    left:25%
}