.templates{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    height: 500px;
    justify-content: space-around;
}

.templates-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.templates-styles{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.template{
    height: 280px;
    width:250px;
    position: relative;
}

.template img{
    height: 100%;
    width: 100%;
}

.template-btn{
    background-color: red;
    color: white;
    border-radius: 5px;
    border:1px solid white;
    /* position: absolute; */
}