.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.insta_img{
    height:3rem;
}

.profile_img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.upload_container{
    border: 3px solid grey;
    width: 7rem;
    height: 2rem;
    text-align: center;
    border-radius: 5px;
}


