body{
    margin:0;
    font-family: sans-serif;
}

.header{
    height: 5rem;
    border-bottom: 2px solid grey;
}

.main{
    display: flex;
    height: calc(100vh-10rem);
    align-items: center;
    justify-content: space-evenly
}

.pimg_container{
    
}

.pimg{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.details{
    text-align: center;
    margin-top: 5rem;
}

.content{
    line-height: 1.5;
    font-size: 1.5rem;
    color: grey;
}

.bold_text{
    font-weight: bold;
    color:black
}

.main>*{
    height: 80%;
    width: 40%;
}
