.product-card{
    height: 20rem;
    width: 15rem;
    box-shadow: 0px 0px 5px 0px grey;
}

.product-img{
    height: 80%;
}

.product-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-btn{
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.product-btn button{
    border: none;
    outline: none;
    background-color: lightseagreen;
    color: white;
    border-radius: 8px;
    padding: 4px 8px;
}