*{
    margin: 0px;   
    padding: 0px;
    box-sizing: border-box;
}

.menu-options{
    border: 0.5px solid;
    height: 30px;
}

.address-content{
    border: 0.5px solid;
    height: 30px;
}

.cells-content{
    height:85vh;
    background-color: aquamarine;
    overflow: auto;
    position: relative;
}

.sheets{
    border: 0.5px solid;
    height: 30px;
}

.row{
    display: flex;
}

.cell{
    border: 0.2px solid;
    height: 30px;
    width: 100px;
}

.top-left-cell{
    border-right: 0.1px solid;
    border-bottom: 0.1px solid;
    height: 30px;
    width: 30px;
    background-color: grey;
    position: absolute;
    z-index: 2;

}

.top-row{
    display: flex;
    position: absolute;
    background-color: grey;
    left: 30px;
    z-index: 1;
}

.top-row-cell{
    height: 30px;
    width: 100px;
    border-bottom: 0.1px solid;
    border-left: 0.1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col{
    background-color: grey;
    position: absolute;
    left: 0px;
    top:30px;
    z-index: 1;
}

.left-col-cell{
    height: 30px;
    width: 30px;
    border-bottom: 0.1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells{
    position: absolute;
    top:30px;
    left:30px;
}